
.search-results__item {
  display: flex;

  & + .search-results__item {
    margin-top: 15px;
  }

  .search-result__feature {
    flex: 0 0 auto;
    max-width: 30%;
    margin-right: 15px;
    
    img {
      display: block;
      width: 100%;
    }
  }
  
  .search-result__content {
    h3 {
      margin-bottom: 10px;
    }
  }
}